In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
heart_df= pd.read_csv("heart.csv")

In [4]:
len(heart_df)

918

In [6]:
heart_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [7]:
X = heart_df.drop(columns=['HeartDisease'])
Y = heart_df['HeartDisease']

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X['Sex'] = le.fit_transform(X['Sex'])
X['ChestPainType'] = le.fit_transform(X['ChestPainType'])
X['RestingECG'] = le.fit_transform(X['RestingECG'])
X['ExerciseAngina'] = le.fit_transform(X['ExerciseAngina'])
X['ST_Slope'] = le.fit_transform(X['ST_Slope'])

In [9]:
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
1,49,0,2,160,180,0,1,156,0,1.0,1
2,37,1,1,130,283,0,2,98,0,0.0,2
3,48,0,0,138,214,0,1,108,1,1.5,1
4,54,1,2,150,195,0,1,122,0,0.0,2

In [17]:
from sklearn.model_selection import KFold,cross_validate,cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import LeaveOneOut
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

## Cross Validation

In [18]:
dt = DecisionTreeClassifier()

In [19]:
skfold = StratifiedKFold(n_splits=10)

In [20]:
skfold_score = cross_val_score(dt,X,Y,cv=skfold)

In [21]:
skfold_score_mean = skfold_score.mean()
print("The accuracy of Stratifieid k-fold method with 10 folds is",skfold_score_mean)

The accuracy of Stratifieid k-fold method with 10 folds is 0.7852603917821309

In [ ]:
FEATURE_NAMES = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']